@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 6px;
	height: 200px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(182, 154, 248, 0.7);
	border-radius: 10px;
}
